:root {
    --bg-main-color: #f5f5f5;
}

body {
    margin: 0;
    cursor: default;
}

#root {
    margin: 0;
    background-color: var(--bg-main-color);
    min-height: 100vh;
}

.page-not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-not-found > .icon-sad {
    font-size: 120px;
}

td {
    transition: all 0.25s ease-in-out;
}

tr:hover > td {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background-color: var(--bg-main-color);
}

.image-upload-container {
    position: relative;
    text-align: center;
}

.image-upload-container > .image-upload-src {
    opacity: 1;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.4s ease-in-out;
}

.image-upload-container:hover > .image-upload-src, .blur-on-loading {
    cursor: pointer;
    opacity: 0.75;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: all 0.4s ease-in-out;
}

.image-upload-container > .image-upload-text {
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.image-upload-container:hover > .image-upload-text {
    cursor: pointer;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.contact-profile-img {
    margin-right: 2em;
}

.contact-profile-img > .image-upload-src {
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.contact-info-container {
    position: relative;
    height: 500px;
    width: 100%;
}

.contact-info-container > div {
    padding: 1.5em 2em;
}

.contact-info {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 2;
    top: -50px;
    padding: 0.5em;
}

.hide {
    position: absolute;
    height: 0;
    width: 0;
    padding: 0;
    border: none;
}

.contact-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact-card-container > .contact-card-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    opacity: 0.5;
}

.contact-card-container > .contact-card-image, 
.contact-card-container > .contact-card-info {
    z-index: 2;
}

.contact-card-container > .contact-card-image {
    margin-left: 2em;
}

.contact-card-container > .contact-card-info {
    margin: 1.5em 2em 1em 0;
}

.contact-card-container > .contact-card-image > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact-card-container >.contact-card-info input, 
.contact-card-container > .contact-card-info textarea {
    -webkit-text-fill-color: black !important;
}
